@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Rookie.AMO.Identity.ViewModel.ChangeInputModel
<div class="login-page">
    <div class="row login">
        <form class="form-login" method="post" asp-route="Change">
            @if (!Html.ViewData.ModelState.IsValid)
            {
                <div class="row">
                    <div class="col">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </div>
                <hr />
            }


            <input type="hidden" asp-for="ReturnUrl" />

            <div class="header_mjz">
                <div id="Welcome_to_Online_Asset_Manage">
                    <span>Change Password</span>
                </div>
            </div>
            <div class="background_mj" viewBox="0 0 465.648 228.959">
                <div class="input-field position-relative px-5">
                    <span>Old Password </span><span class="note">*</span>
                    <input id="password" class="input-login" type="password" asp-for="CurrentPass" />
                    <i id="togglePassword" class="fas fa-eye show-password-alt"></i>
                </div>
                <div class="input-field position-relative px-5">
                    <span>New Password </span><span class="note">*</span>
                    <input id="newPassword" class="input-login" type="password" asp-for="NewPass" />
                    <i id="toggleNewPassword" class="fas fa-eye show-password-alt"></i>
                </div>
                <div class="input-field position-relative px-5">
                    <span>Confirm Password </span><span class="note">*</span>
                    <input id="confirmPassword" class="input-login" type="password" asp-for="ConfirmPass" />
                    <i id="toggleConfirmPassword" class="fas fa-eye show-password-alt"></i>

                </div>
                <div class="input-field px-5">
                    <button type="submit" id="Login_btn" >Update</button>
                </div>
            </div>
        </form>
    </div>
</div>

