
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Rookie.AMO.Identity.ViewModel.ChangeInputModel

<h2>Change Password</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-route="Change">
            <input type="hidden" asp-for="ReturnUrl" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPass"></label>
                <input asp-for="CurrentPass" class="form-control" />
                <span asp-validation-for="CurrentPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPass"></label>
                <input asp-for="NewPass" class="form-control" />
                <span asp-validation-for="NewPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPass"></label>
                <input asp-for="ConfirmPass" class="form-control" />
                <span asp-validation-for="ConfirmPass" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
