
@{
    ViewData["Title"] = "ChangedPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env

<h4>
    Password changed successfully!
</h4>
<a href="https://localhost:5001/">Return to Login</a>

